<% include ../partials/header %>

<div class="jumbotron">
    <h1>BMI - Calculator</h1>
    <p>With this tool you can easily determine your BMI.</p>
</div>

<form method="GET" class="form-horizontal" action="/result">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Please enter your details!</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="height" class="col-sm-2 control-label">
                    Your Height (cm)
                </label>
                <div class="col-sm-10">
                    <input name="cm" class="form-control" id="cm" />
                </div>
            </div>
            <div class="form-group">
                <label for="height" class="col-sm-2 control-label">
                    Your Weight (kg)
                </label>
                <div class="col-sm-10">
                    <input name="kg" class="form-control" id="kg" />
                </div>                    
            </div>
            <div class="form-group">
                <label for="height" class="col-sm-2 control-label">
                    Your waist (cm)
                </label>
                <div class="col-sm-10">
                    <input name="waist" class="form-control" id="waist" />
                </div>
            </div>
            <div class="form-group">
                <label for="height" class="col-sm-2 control-label">
                    Your hip (cm)
                </label>
                <div class="col-sm-10">
                    <input name="hip" class="form-control" id="hip" />
                </div>                    
            </div>
            <div class="form-group">
                <label for="height" class="col-sm-2 control-label">
                    Your gender
                </label>
                <div class="col-sm-10">
                    <input name="gender" class="form-control" id="male" type="radio" value="male"/> Male
                    <input name="gender" class="form-control" id="female" type="radio" value="female"/> Female
                </div>                    
            </div>
        </div>
        <div class="panel-footer">
            <input id="submitButton" type="submit" class="btn btn-primary" value="Send!" />
        </div>
    </div>
</form>

<% include ../partials/footer %>