<% include ../partials/header %>

<div class="alert alert-success">
    <strong>Note:</strong>
    Your body mass index is: 
    <strong id="resultNumber"><%= Math.round(bmi * 100) / 100 %></strong>
    <strong id="resultCategory"><%=category%></strong>
</div>

<div class="alert alert-success">
    <strong>Note:</strong>
    Your body Waist To Hip ratio is:     
    <strong id="resultNumberWTH"><%= Math.round(wth * 100) / 100 %></strong>
    <strong id="resultCategoryWTH"><%=wthCategory%></strong>
</div>

<% include ../partials/footer %>